# Core
python-dotenv
requests
pandas
numpy
streamlit-folium

# Machine Learning
scikit-learn
xgboost

# Hugging Face Embeddings
sentence-transformers
transformers
torch
torchvision

# LangChain
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq

# Vector Database
chromadb

# Maps & Geocoding
folium
geopy

# Image Processing
Pillow

# Video Generation
moviepy

# Streamlit
streamlit

# Database
sqlalchemy

# Utilities
tqdm
matplotlib
torchvision
opencv-python-headless
moviepy==1.0.3